{block content}
<h1 n:block=title>Přihlášení</h1>

<p class="dulezite">Pokud jste novými účastníky Školy nebo neznáte své přihlašovací údaje, kontaktujte nás telefonicky na čísle 555 130 507.</p>
{control signInForm}

<a n:href="User:lostpassword">Zapomněli jste heslo?</a>

{* or use {include '../components/form.latte', form => signInForm} *}
