{block content}
<h1 n:block=title>Zapomenuté heslo</h1>

<p>
Pokud jste zapomněli Vaše přihlašovací heslo, můžete si požádat o zaslání nového hesla. Zadejte svůj email a nové heslo Vám bude ihned zasláno. 
</p>

{control lostPassForm}

Pokud jste zapomněli Váš přihlašovací email, kontaktujte nás na: <a href="mailto:privoz.farnost@centrum.cz">privoz.farnost@centrum.cz</a>

{* or use {include '../components/form.latte', form => signInForm} *}
