

{block content}
 <!--<h1 n:block=title>Škola křesťanského života a evangelizace</h1> -->

<div style="text-align:center">
<h2>Hymnus školy</h2>

<p>        
Maria Regina Mundi <br />
Maria Regina Mundi, <br />
Maria Mater Ecclesiae, <br />
Tibi Assumus, Tui Memores, <br />
Vigilamus, Vigilamus. <br /> 
</p> 
<p>
Maria, královno světa, <br />
Maria matko církve, <br />
jsme před tebou, na tebe pamatujeme, <br />
bdíme, bdíme.
</p>
</div>

{/block}


